@using ProdTrace.Models.Classes
@model  List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <td>ID</td>
        <td>Departman Adı</td>
        <td>Sil</td>
        <td>Güncelle</td>
        <td>Detaylar</td>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>
                @d.DepartmentId
            </td>
            <td>
                @d.DepartmentName
            </td>
            <td><a href="/Department/GetDepartment/@d.DepartmentId" class="btn btn-warning" style="color:white">Güncelle</a></td>
            <td><a href="/Department/DeleteDepartment/@d.DepartmentId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Department/DepartmentDetail/@d.DepartmentId" class="btn btn-default" style="background-color:lightcoral; color:white">Detaylar</a></td>
        </tr>
    }

</table>

<a href="/Department/AddDepartment" class="btn btn-info">Departman Ekle</a>

